<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			{{!-- Creates the hamburger button --}}
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				{{!-- Creates the 3 lines for the hamburgers --}}
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><i class="fa fa-youtube-play" id="youtube-icon" aria-hidden="true"></i> <span id="youtube-title">YouTube Trending Videos</span></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
				<li><a href="/saved"><i class="fa fa-bookmark" aria-hidden="true"></i> Saved Videos</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
		<h1 class="display-3">Mongo Scraper</h1>
		<p class="lead">YouTube Trending Videos</p>
		<button class="btn btn-danger" id="scrape" data-target="#videos-added">Scrape New Videos <i class="fa fa-video-camera" aria-hidden="true"></i></button>
	</div>
</div>

<section id="videos-section">
	<div class="container-fluid">

		{{!-- Display all the trending videos in the database --}}
		<div id="videos"></div>

		{{!-- Modal for Number of Videos Added --}}
		<div id="videos-added" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header no-border">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<h3 id="modal-video-count-added"></h3>
					</div>
					<div class="modal-footer no-border">
						<button type="button" class="btn btn-primary" id="close-videos-added" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		{{!-- Modal for Video Comments --}}
		<div id="video-comments" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 id="comment-header">Comments</h3>
					</div>
					<div class="modal-body">
						<div class="modal-comments"></div>
						<div class="form-group">
							<input type="text" class="form-control" id="name-input" placeholder="Name">
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="2" id="comment-input" placeholder="Comment"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" id="submit-comment">Save Comment</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="static/home.js"></script>