body {
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

.navbar {
	margin-bottom: 0px;
}

a.anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}

a:hover {
	text-decoration: none;
}

#youtube-icon {
	color: #cc181e;
	margin-right: 5px;
}

#youtube-title {
	color: #000000;
}

ul.nav.navbar-nav.navbar-right {
	margin-right: 10px;
}

.navbar-default .navbar-nav>li>a {
	color: #494949;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #494949;
	color: #ffffff;
}

.fa-home, .fa-bookmark {
	color: inherit;
	margin-right: 5px;
}

.fa-video-camera {
	margin-left: 5px;
}

.jumbotron {
	background-color: #f1f1f1;
	margin-top: 50px;
}

.no-border {
	border: none;
}

.panel-default>.panel-heading {
	overflow: auto;
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#scrape {
	background-color: #cc181e;
	border-color: #cc181e;
	font-size: 15px;
	padding: 10px 20px;
}

#modal-video-count-added {
	margin-bottom: 30px;
	text-align: center;
}

#close-videos-added {
	background-color: #cc181e;
	border: #cc181e;
}

.comments-modal-header {
	background-color: #f1f1f1;
}

.modal-body {
	overflow: auto;
	padding: 25px;
}

.comment-header {
	margin-left: 10px;
	margin-top: 10px;
}

.comment-name {
	color: #000000;
	font-size: 15px;
	font-weight: bolder;
	margin-right: 10px;
}

.comment-date {
	color: #808080;
	font-size: 13px;
	margin-left: 10px;
}

.comment-content {
	margin-bottom: 0px;
}

.no-comments {
	margin-bottom: 35px;
	text-align: center;
}

.comment-form {
	padding: 5px;
}

.comment-form-input {
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.share-thoughts {
	font-weight: bolder;
	margin-top: 40px;
}

#submit-comment {
	background-color: #cc181e;
	border-color: #cc181e;
	float: right;
	margin-bottom: 10px;
	margin-top: 5px;
}

textarea {
	resize: none;
}

.relative {
	position: relative;
}

.delete-comment {
	color: #cc181e;
	font-size: 25px;
	margin-right: 20px;
	position: absolute;
	right: 0px;
	top: 15px;
}

.delete-comment:hover {
	color: #a81217;
	font-weight: bolder;
}

.entire-container {
	margin-bottom: 10px;
	min-height: 250px;
}

.video-title {
/*	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	font-weight: bolder;
	line-height: 1.3em;
}

.video-container {
	position: relative;
}

.video-image {
	backface-visibility: hidden;
	display: block;
	height: auto;
	opacity: 1;
	transition: .5s ease;
	width: 100%;
}

.middle {
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transition: .5s ease;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.video-container:hover .video-image {
	opacity: 0.3;
}

.video-container:hover .middle {
	opacity: 1;
}

.fa-bookmark-o, .fa-trash-o {
	color: #cc181e;
}

.fa-bookmark-o:hover, .fa-trash-o:hover {
	color: #a81217;
}

.fa-user-o, .fa-commenting-o {
	color: #cc181e;
	margin-right: 50px;
}

.fa-user-o:hover, .fa-commenting-o:hover {
	color: #a81217;
}

@media screen and (max-width: 1149px) {
	.fa-user-o, .fa-commenting-o {
		margin-right: 25px;
	}
}

@media screen and (max-width: 991px) {
	.fa-user-o, .fa-commenting-o {
		margin-right: 50px;
	}
}

@media screen and (max-width: 869px) {
	.fa-user-o, .fa-commenting-o {
		margin-right: 33px;
	}
}

@media screen and (max-width: 767px) {
	.fa-user-o, .fa-commenting-o {
		margin-right: 50px;
	}
}

